{% load static %}


<!-- Footer Start -->
    <div class="container-text-light footer pt-5 mt-5 wow fadeInUp" data-wow-delay="0.1s" style="background:black;" >
        <div class="container py-5" style="background:black; text-align:center;">
            <div class="row g-5">
                
                <ul class="contact-info" style="list-style: none; padding: 0; display: inline-block;">
                    <li style="display: inline-block; margin-right: 20px;"><i class="fa fa-envelope"></i> example@example.com</li>
                    <li style="display: inline-block; margin-right: 20px;"><i class="fa fa-phone"></i> (123) 456-7890</li>
                    <li style="display: inline-block;"><i class="fa fa-map-marker"></i> 123 Street, City, Country</li>
                    
                    <div class="d-flex pt-2 justify-content-center">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>

                    </div>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">ATEFE LEARNING</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="">MOHAMMADREZA</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
