{% extends 'main/base.html' %}
{% block content %}
    <div class="container" style="max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:gray;
    border:1px solid black;
    border-radius:5px;
    margin-top:250px;
    color:black;">
        <form action="/reset_password/" method="post" >
        <h2 class="h2" style="text-align: center;">Reset Password</h2>
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="email" style="display: block;
            margin-bottom: 5px;
            font-weight: bold;">Password</label>
            <input type="email" id="email" name="email" required style=" width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;">
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="new-password" style="display: block;
            margin-bottom: 5px;
            font-weight: bold;">Confirm Password</label>
            <input type="password" id="new-password" name="new-password" required style=" width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;">
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <button type="submit">Reset Password</button>
        </div>
        </form>
    </div>
{% endblock%}
