{% extends 'main/base.html' %}
{% block content %}

<div class="container" style="width: 300px;
margin: 0 auto;
padding: 20px;
border: 1px solid #06BBCC;
border-radius: 5px;
margin-top: 50px;
background-color: black;
color: white;">

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h2 style="color:#06BBCC;">Reset Password</h2>
<form class="form" method="post" id="form" style="display: flex; flex-direction: column;">
    {% csrf_token %}
    <label for="email" style="margin-bottom: 10px;">Email:</label>
    <input type="email" id="email" name="email" required style="padding: 5px; margin-bottom: 10px;">
    <button type="submit" style="padding: 10px; background-color: #06BBCC; color: white; border: none; cursor: pointer; width: 50%; margin: 0 auto;">Submit</button>
</form>

</div>


{% endblock %}